<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3301197304-b306gk0mhj250ioubr36k5r2fonlhd8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3301197304-b306gk0mhj250ioubr36k5r2fonlhd8l</string>
	<key>API_KEY</key>
	<string>AIzaSyDse8aYas9xQpv0Jjsoa5YbGwN3SDHETIA</string>
	<key>GCM_SENDER_ID</key>
	<string>3301197304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmt10.flutterHackathon</string>
	<key>PROJECT_ID</key>
	<string>inkribbon-cd2f7</string>
	<key>STORAGE_BUCKET</key>
	<string>inkribbon-cd2f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3301197304:ios:03ca3c827cee94889b820d</string>
	<key>DATABASE_URL</key>
	<string>https://inkribbon-cd2f7.firebaseio.com</string>
</dict>
</plist>